/app/Config
/app/tmp
/lib/Cake/Console/Templates/skel/tmp/
/plugins
/vendors
/build
/dist
.DS_Store
/tags
/app/webroot/img/training
app/webroot/img/ATP_Logo_big.png
app/webroot/img/ATP_Logo_brand.png
app/webroot/img/Study_header_big.png
app/webroot/img/favicon.ico
app/webroot/img/husiegel_menu.png
app/webroot/img/husiegel_sw_klein.png
app/webroot/survey/*
