

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.fixation {
	font-size:2cm;
	width:2cm;
	height:2cm;
	overflow:hidden;
}
#trial_outer {
	display:table;
	background-color:white;
	width:100%;
	height:100%;  
}


#trial {
	display:table-cell;
	vertical-align:middle;
	text-align:center;
	background-color:white;
}
#trial>div {
	margin-left:auto;
	margin-right:auto;
}

.session_instructions {
	font-size:0.5cm;
	width:8cm;
}

.trial_images img {
	width:14cm;
	height:8cm;
}
.trial_images img.top {
	margin-bottom:1cm;
}
.probe {
	font-size:0.5cm;
	margin-top:10cm;
	width:14cm;
	text-align:center;
}
.probe.probe_on_top {
	margin-top:-4cm;
}
.mistake_message {
	color:red;
	font-weight:bold;
}

#flashMessage {
	color: #3a87ad;
	font-weight:bold;
}